body {
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 500
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #EFEFEF;
}

footer {
  overflow: hidden;
  margin-top: 250px;
  background: #f8f9fa;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0
}

.auth-container {
  display: grid;
  place-content: center;
  height: 100vh;
  
}

.auth-container .div-form {
  background-color: white;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  
}

.homebtn {
  background-color: #CAEBF2;
  padding: 4px 8px;
  border-radius: 4px;
}

.card-highlight {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

.t1 {
  vertical-align: middle;
}

.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.text-sm {
  font-size: 14px;
}


